In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [7]:
df=pd.read_csv('green_tripdata_2019-09.csv',nrows=100)

In [4]:
pwd

'C:\\Users\\scl\\data-engineering-zoomcamp\\week_1_basics_n_setup\\2_docker_sql'

In [8]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [11]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [2]:
from sqlalchemy import create_engine

In [18]:
engine=create_engine('postgresql://root:root@172.19.0.1:5432/ny_taxi')

In [19]:
engine.connect()

OperationalError: (psycopg2.OperationalError) connection to server at "172.19.0.1", port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
print(pd.io.sql.get_schema(df,name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [46]:
df_iter=pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True, chunksize=100000)

In [47]:
df=next(df_iter)

In [48]:
len(df)

100000

In [49]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [51]:
df.head(n=1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5

In [52]:
df.head(n=0).to_sql(name='yello_taxi_data',con=engine,if_exists='replace')

0

In [53]:
%time df.to_sql(name='yello_taxi_data',con=engine,if_exists='append')

CPU times: total: 2.58 s
Wall time: 7.54 s

1000

In [33]:
from time import time

In [54]:
while True:
    t_start=time()
    df=next(df_iter)
    
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yello_taxi_data',con=engine,if_exists='append')
    
    t_end=time()
    
    print('inserted another chunk......, took %.3f second' % (t_end-t_start))

inserted another chunk......, took 7.701 second
inserted another chunk......, took 7.828 second
inserted another chunk......, took 7.835 second
inserted another chunk......, took 7.831 second
inserted another chunk......, took 8.121 second
inserted another chunk......, took 8.392 second
inserted another chunk......, took 7.711 second
inserted another chunk......, took 7.407 second
inserted another chunk......, took 6.691 second
inserted another chunk......, took 7.079 second
inserted another chunk......, took 7.150 second

C:\Users\scl\AppData\Local\Temp\ipykernel_18112\913997922.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk......, took 8.334 second
inserted another chunk......, took 5.171 second

StopIteration:

In [10]:
query = """
select * from pg_catalog.pg_tables
where schemaname != 'pg_catalog' and
schemaname != 'information_schema';
"""

pd.read_sql(query,con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [56]:
query = """
select max(tpep_pickup_datetime), min(tpep_pickup_datetime), max(total_amount) from public.yello_taxi_data limit 100;
"""

pd.read_sql(query,con=engine)

                  max                 min      max
0 2021-02-22 16:52:16 2008-12-31 23:05:14  7661.28